---
title: Bank Account Verification
description: Learn more about the extra level of security that is added to our payment approval process by incorporating bank account verification.
date: 14-09-2023
id: PM-352
lang: en
---

# Bank Account Verification

| Feature | General availability online | Public preview |
| --- | :-: | :-: |
| Bank Account Verification | {{checkmark}} Oct 2023 | - |



## Business value

Our new Bank Account Verification feature enhances security by verifying the validity of bank accounts. This ensures a higher level of security and safeguards against fraud within approval workflows.


## Feature details

After activating the Payment Approval module, you can enable the "Use Bank Account Verification" option in the Payment Setup to enforce verification for added protection, preventing unverified bank accounts from being approved.

To learn more about the Bank Account Verification feature, refer to the [Setting up bank account verification](@PM-350) article.

