---
title: Security enhancements for Bank Account Verification
description: Learn more about the extra level of security that is added to our payment approval process by incorporating bank account verification.
date: 16-04-2024
id: PM-394
lang: en
---

# Enhanced Security for Bank Account Verification

| Feature | General availability online | Public preview |
| --- | :-: | :-: |
| Enhanced Security for Bank Account Verification | {{checkmark}} Apr 2024 | - |



## Business value

With bank account verification you can now (dis)allow users to approve their own changes to the bank account information.

<iframe src="https://player.vimeo.com/video/930213330?h=5b3e9b03c9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="PM_Bank Account Verification_produced"></iframe>

## Feature details

In the Payment Approval setup, you can now not only enable verification for changes, but you can also allow users and approval  administrators to approve their own changes, and blocking payment export until verification is completed.

To learn more about the Bank Account Verification feature, refer to the [Setting up bank account verification](@PM-350) article.

